*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero__section{
    background: url(/images/heroSectionBackground.png);
    color: white;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    padding: 0px 150px;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px 48px;
    height: 60px;
    font-weight: 300;
    font-size: 35;
    
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar__menu_container{
    display: flex;
    gap: 25px;
}

.user_icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    display: none;
}



.hero__section_container{
    display: flex;
    flex-direction: column;
    height: calc(60vh - 60px);
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.hero__section_logo{
    width: 270px;
    height: auto;
}

.hero__section_header{
    text-align: center;
    font-size: 175%;
    font-weight: 300;
}

.hero__section_input_container{
    background: white;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;

}

.input_container_location,
.input_container_search{
    border: none;
    outline: none;
    padding: 5px;

}

.input_container_search{
    width: 72%;
    display: flex;
}


 .hero__section_container_search{
    width: 65%;
    display: flex;
 }   

 .hero__section_container_location{
    width: 35%;
    display: flex;
 }

.location_icon{
    text-decoration: none;
    color: lightcoral;
    padding: 5px;
    
}

.search_icon{
    text-decoration: none;
    color: grey;
    border-left: 2px solid #e0e0e0;
    padding: 5px 5px 5px 10px;
}

.container{
    margin: 48px auto;
    width: 80%;
}

.we_offer{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.we_offer .card{
    border-radius: 10px;
    color: black;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: 300ms all ease-out;
}

.we_offer .card img{
    width: 350px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.we_offer .card h2{
    font-weight: 400;
    font-size: 17px;
    padding: 10px 10px 0px 10px;

}

.we_offer .card p{
    font-size: 13px;
    padding: 0px 10px 10px 10px;
}

.we_offer .card:hover{
    transform: scale(1.05);
}

.collections{
    width: 72%;
}

.collections h1{
    font-weight : 400;
    font-size: 36px;
}

.collections .sub__heading_container{
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub__heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 15px;
}

.collections_card_container{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    

}

.collections_card_container .card{
    height: 320px;
    min-width: 260px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    cursor: pointer;    

}

.card1{
    background-image: url('images/collection1.jpg');
    
}

.card2{
    background-image: url('images/collection2.jpg');
}

.card3{
    background-image: url('images/collection3.jpg');
}

.card4{
    background-image: url('images/collection4.jpg');
}

.overlay{
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.9)0%,
        rgba(0,0,0,0.05)50%,
        rgba(0,0,0,0.05)85%
    );
    
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.collections_card_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #e0e0e0;
    padding: 12px 16px;
    font-size: 13px;

}

.collections_card_container .card .content h3{
    font-weight: 400;
    font-size: 15px;
}

.localities{
    width: 72%;
}

.localities_card_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
    
}

.localcard{
    width: 357px;
    height: 80px;
    border: 1px solid rgb(219, 219, 219);
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: rgb(28 28 28 / 8%) 0px 1.42623px 2.85246px;


}

.localcard:hover{
    box-shadow: rgb(28 28 28 / 20%) 0px 2px 3px;
}

.localcard p, span{
    padding: 3px;
    margin-left: 10px;    
}

.localcard p{
    font-size: 18px;
    font-weight: 400;
}

.localcard span{
    font-weight: 300;
}

.localities h1{
    font-weight: 300;
    font-size: 36px;
}

.get_the_app{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 247);
    padding: 48px 48px;
}

.get_the_app .semicontainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

}

.get_the_app .semicontainer .left{
    flex: 2;
}

.get_the_app .semicontainer .left img{
    width: 100%;
    object-fit: cover;
}

.get_the_app .semicontainer .right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right h1{
    font-weight: 500;
    font-size: 32px;
}

.right p{
    font-size: 14px;
}

.semicontainer .right .radio_buttons_container{
    display: flex;
    gap: 16px;
    
}


.semicontainer .right .radio_buttons_container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}









@media only screen and (max-width: 600px) {
    
    .navbar__menu_container .link{
        display: none;
    }
    
    .hero__section{
        min-height: 80vh;
        padding: 0px;
    }

    .user_icon{
        display:flex;
    }

    .input_container_location{
        width: 50%;
    }

    .input_container_search{
        width: 50%;
    }

    .hero__section_input_container{
        flex-direction: column;
    }

    .search_icon{
        border-left: none;
    }

    .search_icon, .location_icon{
        padding: 5px;
    }

    .hero__section_container{
        height: calc(80vh - 60px);
    }

    .hero__section_input_container{
        background: transparent;
        align-items: center;
        justify-content: center;
        width: 100%;
    
    }

    .hero__section_container_location,
    .hero__section_container_search{
        width: 90%;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 10px;
    }

    .input_container_location, 
    .input_container_search{
        width: 90%;
        padding: 10px;
        border: none;
    }  
        
}